*.pyc
*.pyo
*~
/meta
/*project.org*
\#*\#
/tests/python_levenshtein_tests.py~
/errors.log
/info.log
/levenshtein/demo/demo1.py
/levenshtein/utils/.#filer.py
/levenshtein/utils/.#log.json
/levenshtein/utils/.#random_strings.py
levenshtein/compression.pyc
/levenshtein/utils/log/errors.log
/levenshtein/utils/log/info.log
/levenshtein/test.py
/levenshtein/utils/test.py
/tests/.#string_compressor_basic_tests.py
/tests/errors.log
/tests/info.log
/levenshtein/utils/errors.log
*log
*org
/compressor.py
/_compressor.so
/levenshtein/_compression.so
/levenshtein/_compressor.so
/levenshtein/compressor.py
/demo/test.py
/demo/struct.txt
