*.pyc
*.pyo
*~
/meta
/*project.org*
\#*\#
/tests/python_levenshtein_tests.py~
/errors.log
/info.log
/levenshtein/demo/demo1.py
/levenshtein/utils/.#filer.py
/levenshtein/utils/.#log.json
/levenshtein/utils/.#random_strings.py
levenshtein/compression.pyc
